<a href="https://colab.research.google.com/github/m2ax-ds/DeepLearningHomework_CharityFundingPredictor/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [2]:
from google.colab import files
uploaded =files.upload()

Saving charity_data.csv to charity_data.csv

In [9]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [10]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df=application_df.drop(['EIN', 'NAME'],1)

In [11]:
application_df

      APPLICATION_TYPE       AFFILIATION  ...   ASK_AMT IS_SUCCESSFUL
0                  T10       Independent  ...      5000             1
1                   T3       Independent  ...    108590             1
2                   T5  CompanySponsored  ...      5000             0
3                   T3  CompanySponsored  ...      6692             1
4                   T3       Independent  ...    142590             1
...                ...               ...  ...       ...           ...
34294               T4       Independent  ...      5000             0
34295               T4  CompanySponsored  ...      5000             0
34296               T3  CompanySponsored  ...      5000             0
34297               T5       Independent  ...      5000             1
34298               T3       Independent  ...  36500179             0

[34299 rows x 10 columns]

In [13]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [16]:
# Look at APPLICATION_TYPE value counts for binning
application_df_type=application_df['APPLICATION_TYPE'].value_counts()
application_df_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [18]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace= list(application_df_type[application_df_type<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [19]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df.CLASSIFICATION.value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4200        1
C6100        1
C2150        1
C2570        1
C1570        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [20]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts[class_counts>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C4100        6
C1720        6
C1600        5
C1257        5
C2710        3
C0           3
C1260        3
C1234        2
C1267        2
C3200        2
C1246        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [23]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies_df=pd.get_dummies(application_df)

In [24]:
# Split our preprocessed data into our features and target arrays
X = application_dummies_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = application_dummies_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [29]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [26]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 80)                8720
_________________________________________________________________
dense_1 (Dense)              (None, 30)                2430
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 31
=================================================================
Total params: 11,181
Trainable params: 11,181
Non-trainable params: 0
_________________________________________________________________

In [27]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [30]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5786 - accuracy: 0.7198
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5559 - accuracy: 0.7286
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5515 - accuracy: 0.7296
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7298
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7315
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7308
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7332
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7327
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7330
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7336
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7347
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7329
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7358
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7356
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7353
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7355
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7369
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7360
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7367
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7364
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7368
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7381
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7380
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7390
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7389
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7379
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7375
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7389
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7387
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7388
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7386
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7389
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7396
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7403
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7383
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7397
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7398
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7394
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7399
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7393
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7391
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7413
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7392
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7410
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7406
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7410
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7395
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7409
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7417
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7391
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7409
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7401
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7407
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7405
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5316 - accuracy: 0.7417
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7394
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5318 - accuracy: 0.7414
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7406
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5318 - accuracy: 0.7412
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5316 - accuracy: 0.7403
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5314 - accuracy: 0.7410
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7418
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5312 - accuracy: 0.7412
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.7408
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7418
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7408
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.7414
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.7418
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5305 - accuracy: 0.7423
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5304 - accuracy: 0.7412
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5306 - accuracy: 0.7424
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5307 - accuracy: 0.7411
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5300 - accuracy: 0.7416
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5304 - accuracy: 0.7411
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5302 - accuracy: 0.7424
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5301 - accuracy: 0.7412
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5299 - accuracy: 0.7411
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5297 - accuracy: 0.7417
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5301 - accuracy: 0.7414
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5297 - accuracy: 0.7414
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5299 - accuracy: 0.7419
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5295 - accuracy: 0.7417
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5297 - accuracy: 0.7416
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5294 - accuracy: 0.7410
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5293 - accuracy: 0.7422
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5296 - accuracy: 0.7419
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5291 - accuracy: 0.7411
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5291 - accuracy: 0.7427
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5291 - accuracy: 0.7416
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5292 - accuracy: 0.7416
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5292 - accuracy: 0.7415
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5292 - accuracy: 0.7409
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5290 - accuracy: 0.7425
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5287 - accuracy: 0.7421
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5288 - accuracy: 0.7423
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5285 - accuracy: 0.7420
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5290 - accuracy: 0.7412
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5285 - accuracy: 0.7423
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5286 - accuracy: 0.7420
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5282 - accuracy: 0.7423

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5634 - accuracy: 0.7304
Loss: 0.5634156465530396, Accuracy: 0.7303789854049683

In [32]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

# New Section

# New Section